extends skeleton
block append scripts
  script(src="scripts.js")
block append styles
  link(rel="stylesheet",href="overview.css")
block content
  div.loading
    span
    noscript &nbsp;(you need javascript, mate)
  div.container
    div#boxen
