extends skeleton
block append styles
  link(rel="stylesheet", href="unauth.css")
block append scripts
  script(src="unauth.js")
block content
  h1 Welcome
  div.container 
    div#error
      p .
        Something went wrong.
      p .
        Please try again later.
    div#intro
      p .
        You must authenticate to continue. 
      ul#links
        li#reglink Register
        li#loglink Login
    div#register
      div#regintro
        p Send this on IRC:
        pre /msg ranna REGISTER abcdef
        p.ircauthstatus Waiting...
      div#regoutro
        p.accepted You are now authenticated as <span class="username">m1k3y</span>.
        p Please create an account in order to continue.
        p Enter your new username and password below:
        form
          input#regusername(type="input",placeholder="Username")
          input#regpassword(type="password",placeholder="Password")
        p The account will be permanently associated with your nickname.
        p.warning Your connection is not currently encrypted.
      div#process
        p Your registration is now being processed.
    div#login
      p Enter your username and password to login.
      form(action="login",method="post")
        input#logusername(type="input",name="username",placeholder="Username")
        input#logpassword(type="password",name="password",placeholder="Password")
        input#submit(type="submit")

